*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(24, 24, 24);
    list-style-type: none;
    display: flex;
    padding: 15px;
    gap: 25px;
}

.navbar a{
    margin-left: 60px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
}

.navbar a:hover{
    color: rgb(128, 8, 4);
}

#hero{
background-color: rgb(133, 120, 120);
width: 100%;
height: 900px;
}

#art.left{
    background-color: orange;
    width: 50%;
    height: 900px;
}

#art.right{
    background-color: aqua;
    width: 50%;
    height: 900px;


}